@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
font-style: normal;
}.flaticon-airplane105:before {
	content: "\e000";
}
.flaticon-building137:before {
	content: "\e001";
}
.flaticon-businessman253:before {
	content: "\e002";
}
.flaticon-cleaning11:before {
	content: "\e003";
}
.flaticon-clipboard52:before {
	content: "\e004";
}
.flaticon-construction16:before {
	content: "\e005";
}
.flaticon-delivery30:before {
	content: "\e006";
}
.flaticon-logisticsdelivery:before {
	content: "\e007";
}
.flaticon-logistics3:before {
	content: "\e008";
}
.flaticon-package36:before {
	content: "\e009";
}
.flaticon-packages2:before {
	content: "\e00a";
}
.flaticon-restaurant36:before {
	content: "\e00b";
}
