/*** General CSS START ***/
.p0{
    padding: 0px !important;
}
.ptop0{
    padding-top: 0px;
}
.pbottom0{
    padding-bottom: 0px;
}
.pleft0{
    padding-left: 0px;
}
.pright0{
    padding-right: 0px;
}
.p5{
    padding: 5px;
}
.ptop5{
    padding-top: 5px;
}
.pbottom5{
    padding-bottom: 5px;
}
.pleft5{
    padding-left: 5px;
}
.pright5{
    padding-right: 5px;
}
.p10{
    padding: 10px;
}
.ptop10{
    padding-top: 10px;
}
.pbottom10{
    padding-bottom: 10px;
}
.pleft10{
    padding-left: 10px;
}
.pright10{
    padding-right: 10px;
}
.m0{
    margin: 0px !important;
}
.mtop0{
    margin-top: 0px;
}
.mbottom0{
    margin-bottom: 0px;
}
.mleft0{
    margin-left: 0px;
}
.mright0{
    margin-right: 0px;
}
.m5{
    margin: 5px;
}
.mtop5{
    margin-top: 5px;
}
.mbottom5{
    margin-bottom: 5px;
}
.mleft5{
    margin-left: 5px;
}
.mright5{
    margin-right: 5px;
}
.m10{
    margin: 10px;
}
.mtop10{
    margin-top: 10px;
}
.mbottom10{
    margin-bottom: 10px;
}
.mleft10{
    margin-left: 10px;
}
.mright10{
    margin-right: 10px;
}
.label-normal{
    font-weight: normal !important;
}
.font16{
    font-size: 16px !important;
}
.pointer{
    cursor: pointer;
}
.text-bold{
    font-weight: bold;
}
.no-select
{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -khtml-user-select: none !important;
    -o-user-select:none !important;
    user-select: none !important;
}
.error{
    color: red;
}
.column-size-30 {
    width: 30px;
}
.column-size-40 {
    width: 40px;
}
.column-size-50 {
    width: 50px;
}
.column-size-60 {
    width: 60px;
}
.column-size-70 {
    width: 70px;
}
.column-size-80 {
    width: 80px;
}
.column-size-90 {
    width: 90px;
}
.column-size-100 {
    width: 100px;
}
.column-size-110 {
    width: 110px;
}
.column-size-120 {
    width: 120px;
}
.column-size-130 {
    width: 130px;
}
.column-size-140 {
    width: 140px;
}
.column-size-150 {
    width: 150px;
}
.column-size-160 {
    width: 160px;
}
.column-size-170 {
    width: 170px;
}
.decoration-none {
    text-decoration: none;
}
.mandatory-field{
    color: #f31026;
}

/*** General CSS END ***/