/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/


#slider-gallery  .owl-item img{
	width:100%;
	height:auto;
}


.owl-theme .owl-controls{
	position: absolute;
	top: -70px;
	right: 5px;
	text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
	position: relative;
	display: inline-block;
	width: 27px;
	height: 30px;
	margin-right: 3px;
	vertical-align: middle;
	color: #FFF;
	background-color: #26c9ff;
	transition: all .3s;
}

.owl-theme .owl-controls .owl-buttons div:before,
.owl-theme .owl-controls .owl-buttons div:after {
	position: absolute;
	width: 8px;
	height: 15px;
	content: '';
	background-color: #26c9ff;
	transition: all .3s;
}
.owl-theme .owl-controls .owl-buttons .owl-next:before,
.owl-theme .owl-controls .owl-buttons .owl-next:after {
	right: -4px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:before,
.owl-theme .owl-controls .owl-buttons .owl-prev:after {
	left: -4px;
}

.owl-theme .owl-controls .owl-buttons .owl-next:before {
	top: 0;
	transform: skewX(20deg);
}
.owl-theme .owl-controls .owl-buttons .owl-next:after {
	bottom: 0;
	transform: skewX(-20deg);
}

.owl-theme .owl-controls .owl-buttons .owl-prev:before {
	bottom: 0;
	transform: skewX(20deg);
}
.owl-theme .owl-controls .owl-buttons .owl-prev:after {
	top: 0;
	transform: skewX(-20deg);
}

.owl-theme .owl-controls .owl-buttons div:hover,
.owl-theme .owl-controls .owl-buttons div:hover:before,
.owl-theme .owl-controls .owl-buttons div:hover:after {
	background-color: #ffd526;
	color: #000;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

.owl-theme .owl-controls .owl-buttons div i {
	display: inline-block;
	padding-top: 2px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev i {
	padding-right: 5px;
}
.owl-theme .owl-controls .owl-buttons .owl-next i {
	padding-left: 5px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev i:after,
.owl-theme .owl-controls .owl-buttons .owl-next i:after {
	font-family: FontAwesome;
	font-size: 16px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev i:after {
	content: "\f104";
}
.owl-theme .owl-controls .owl-buttons .owl-next i:after {
	content: "\f105";
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
