/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Cleaning Services
Version:	1.1
Assigned to:	Alex Zaymund
Primary use:	Cleaning Services
-------------------------------------------------------------------*/

/* FONTS*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700,900,400italic|Roboto+Condensed:400,700|Merriweather:700);

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);


@import url('font-awesome.min.css');
@import url('../fonts/flaticon/flaticon.css');


/* PLUGIN CSS */
@import url('../plugins/bootstrap/css/bootstrap.css');
@import url('../plugins/isotope/isotope.css');
@import url('../plugins/validation/validation-2.2.min.css');
@import url('../plugins/owl-carousel/owl.carousel.css');
@import url('../plugins/owl-carousel/owl.transitions.css');
@import url('../plugins/owl-carousel/owl.theme.css');
@import url('../plugins/prettyphoto/css/prettyPhoto.css');
@import url('../plugins/yamm/yamm.css');
@import url('../plugins/loader/css/loader.css');
@import url('../plugins/datetimepicker/jquery.datetimepicker.css');
@import url('../plugins/animate/animate.css');


/* MAIN CSS */
@import url('normalize.css');
@import url('color.css');
@import url('blog.css');
@import url('theme.css');
@import url('responsive.css');


/*@import url('debugging.css');*/



.panel-login {
    border-color: #ccc;
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
.mymodal{
    display: block;
    max-width: 600px;
    margin: 60px auto 0px auto;
    background: #fff;
}


legend{
    color:#141823;
    font-size:25px;
    font-weight:bold;
}
.signup-btn {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #578843);
    background-image: -moz-linear-gradient(top, #79bc64, #578843);
    background-image: -ms-linear-gradient(top, #79bc64, #578843);
    background-image: -o-linear-gradient(top, #79bc64, #578843);
    background-image: linear-gradient(to bottom, #79bc64, #578843);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 1px 0px #898a88;
    -webkit-box-shadow: 0px 0px 0px #a4e388;
    -moz-box-shadow: 0px 0px 0px #a4e388;
    box-shadow: 0px 0px 0px #a4e388;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3b6e22  1px;
    text-decoration: none;
    width: 290px;
    margin: 0 auto;
}

.signup-btn:hover {
    background: #79bc64;
    background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
    background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
    background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
    background-image: -o-linear-gradient(top, #79bc64, #5e7056);
    background-image: linear-gradient(to bottom, #79bc64, #5e7056);
    text-decoration: none;
    width: 290px;
    margin: 0 auto;
}
.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
    #home{
        margin-top:50px;
    }
    #home .slogan{
        color: #0e385f;
        line-height: 29px;
        font-weight:bold;
    }
}
.register-wrap{
    margin: 40px 0 90px 0;
}
.register-wrap img{
    width: 200px;
    max-width: 100%;
}
.register-wrap .ui-subtitle-block{
    margin:10px 0;
}

.button_example{
    border:1px solid #25729a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:16px;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    margin-top: 10px;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color: #FFFFFF;
    background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
    background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
    background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button_example:hover{
    border:1px solid #1c5675;
    text-decoration: none;
    color:#fff;
    background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
    background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
    background-image: -moz-linear-gradient(top, #26759e, #133d5b);
    background-image: -ms-linear-gradient(top, #26759e, #133d5b);
    background-image: -o-linear-gradient(top, #26759e, #133d5b);
    background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}
.regis-sec.section_list-scheme {
    margin-top: 50px;
}
.regis-sec input, select.form-control{
    border:1px solid #ffd526;
}
.regis-sec .form .form-control {
    margin-bottom: 15px;
}
.register-wrap-work{
    max-width: 768px;
    margin: 50px auto;
    float:none;
}
.modal-header h3 {
    color: rgb(89, 178, 224);
    padding-left: 20px;
}
.header .header-contacts span a {
    padding: 3px;
    display: inline-block;
    font-weight: 500;
    color:#26c9ff;
    border:0;
    text-decoration: underline;
}
.header .header-contacts a{
    border-right: 1px solid #ebebeb;
}
.header .header-contacts span{
    padding-left: 15px;
}
.header .header-contacts span a:last-child {
    border-right:0;
}