/* Start: Recommended Isotope styles */



.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	z-index: 1;
	pointer-events: none;
}
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	   -moz-transition-duration: 0.8s;
	    -ms-transition-duration: 0.8s;
	     -o-transition-duration: 0.8s;
	        transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	   -moz-transition-property: height, width;
	    -ms-transition-property: height, width;
	     -o-transition-property: height, width;
	        transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	   -moz-transition-property:    -moz-transform, opacity;
	    -ms-transition-property:     -ms-transform, opacity;
	     -o-transition-property: top, left, opacity;
	        transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	   -moz-transition-duration: 0s;
	    -ms-transition-duration: 0s;
	     -o-transition-duration: 0s;
	        transition-duration: 0s;
}
.isotope.infinite-scrolling {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}


#filter {
	padding-left: 0;
	margin-bottom: 50px;
}

#filter li {
	display: inline-block;
	margin-bottom: 0;
	list-style: none;
}
#filter li a {
	position: relative;
	display: block;
	margin-right: -3px;
	transition: all 0.3s;
	cursor: pointer;
}
#filter li a:hover,
#filter li a.current {
	text-decoration: none;
}
#filter li a:focus {
	text-decoration: none;
}

.title-action  a {
	color: #fff !important;
	border-color: #526aff !important;
	background: none repeat scroll 0 0 #526aff !important;
}

.isotope-skin2  .isotope-item {
	width: 31.18%;
	margin: 1% ;
}

.isotope-item {
	width: 24.9%;
}


.isotope-item img {
	width: 100%;
	height: auto;
}


.isotope-item:hover .slide-desc {
	opacity: 1;
}
.isotope-item .slide-desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #fff;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	opacity: 0;
	overflow: hidden;
	z-index: 9999;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	text-align: center;
}


.isotope-item .slide-desc table,
.isotope-item .slide-desc td {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
}

/* 0.7 X-carousel */

/**** Isotope Filtering ****/

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	z-index: 1;
	pointer-events: none;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	   -moz-transition-duration: 0.8s;
	    -ms-transition-duration: 0.8s;
	     -o-transition-duration: 0.8s;
	        transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	   -moz-transition-property: height, width;
	    -ms-transition-property: height, width;
	     -o-transition-property: height, width;
	        transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	   -moz-transition-property:    -moz-transform, opacity;
	    -ms-transition-property:     -ms-transform, opacity;
	     -o-transition-property:      -o-transform, opacity;
	        transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	   -moz-transition-duration: 0s;
	    -ms-transition-duration: 0s;
	     -o-transition-duration: 0s;
	        transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}
